<html lang="en" th:fragment="navbar">
<nav class="navbar navbar-expand-lg border-bottom border-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="btn-nav-profile fw-bold" aria-current="page">Posts</button>
                </li>
                <li class="nav-item">
                    <button class="btn-nav-profile fw-bold" aria-current="page">About</button>
                </li>
                <li class="nav-item">
                    <button class="btn-nav-profile fw-bold" aria-current="page">Friends</button>
                </li>
                <li class="nav-item">
                    <button class="btn-nav-profile fw-bold" aria-current="page">Photos</button>
                </li>
                <li class="nav-item">
                    <button class="btn-nav-profile fw-bold" aria-current="page">Videos</button>
                </li>
                <li class="nav-item">
                    <button class="btn-nav-profile fw-bold" aria-current="page">Reels</button>
                </li>
            </ul>
        </div>
    </div>
</nav>