<html lang="en" th:fragment="about">
<div class="col row">
    <div class="shadow-sm p-3 mb-3 bg-gradient rounded">
        <h4 class="fw-bold text-secondary-emphasis">About</h4>
    </div>
    <div class="shadow-sm p-3 mb-3 bg-gradient rounded">
        <h4 class="fw-bold text-secondary-emphasis">Photos</h4>
    </div>
    <div class="shadow-sm p-3 mb-3 bg-gradient rounded">
        <h4 class="fw-bold text-secondary-emphasis">Videos</h4>
    </div>
    <div class="shadow-sm p-3 mb-3 bg-gradient rounded">
        <h4 class="fw-bold text-secondary-emphasis">Friends</h4>
    </div>
</div>