<html lang="en" th:fragment="modal">
<div>
    <div class="modal fade" id="ediDetailMoal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form class="modal-dialog" method="post" th:action="@{/profile/update}" id="editDetails"
              th:object="${accountInfo}">
            <input type="hidden" th:field="*{id}">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Edit details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control col-6" id="otherName" placeholder="otherName"
                               th:field="*{otherName}" maxlength="20">
                        <label for="otherName">Other name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="work" placeholder="work" th:field="*{work}" maxlength="150">
                        <label for="work">Work at</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="student-at" placeholder="education"
                               th:field="*{education}" maxlength="200">
                        <label for="student-at">Student at</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lives-in" placeholder="currentCity"
                               th:field="*{currentCity}" maxlength="200">
                        <label for="lives-in">Lives in</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="from" placeholder="hometown"
                               th:field="*{hometown}" maxlength="200">
                        <label for="from">From</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="date-of-birth" placeholder="ate-of-birth"
                               th:field="*{dateOfBirth}">
                        <label for="date-of-birth">Date of birth</label>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="genderMale"
                                   th:field="*{gender}" value="1">
                            <label class="form-check-label" for="genderMale">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="genderFemale"
                                   th:field="*{gender}" value="0">
                            <label class="form-check-label" for="genderFemale">Female</label>
                        </div>
                    </div>
                    <div class=" mb-3">
                        <select class="form-select" th:field="*{relationship}">
                            <option th:value="${null}" selected>Relationship</option>
                            <option th:each="relationship : ${relationships}" th:value="${relationship.id}">
                                [[${relationship.statusName}]]
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" onclick="editDetailsSubmit()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>

    <!--    Edit Avatar-->
    <div class="modal fade" id="avatar" tabindex="-1" aria-labelledby="avatar" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="title">Choose profile picture</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <img id="avatarImage"
                             th:src="${#authentication.principal.account.accountInfo.avatar == null ? 'https://i0.wp.com/www.vidyadhirajamvk.org/wp-content/uploads/2022/08/venugopal.png?fit=436%2C534&ssl=1': #authentication.principal.account.accountInfo.avatar}"
                             class="rounded-circle" alt="avatar" width="200px" height="200px">
                    </div>
                    <div class="mt-5">
                        <input class="form-control" type="file" id="formFile" accept=".jpg, .jpeg, .png">
                    </div>
                </div>
                <div class="modal-footer">
                    <form th:action="@{/profile/updateAvatar}" method="post" id="submit-avatar">
                        <input type="hidden" name="avatar" id="avatarInput">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="save-avatar" type="button" class="btn btn-primary">
                            <span id="save-text">Save</span>
                            <span id="save-loader" class="spinner-border spinner-border-sm d-none" role="status"
                                  aria-hidden="true"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--    Edit Cover Photo-->
    <div class="modal fade" id="cover-photo" tabindex="-1" aria-labelledby="cover-photo" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="title-cover">Choose profile picture</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <img id="coverImage"
                             th:src="${#authentication.principal.account.accountInfo.coverPhoto == null ? 'https://th.bing.com/th/id/OIP.0PoDOSn6cnaaRwxnK0SqaAHaEK?rs=1&pid=ImgDetMain': #authentication.principal.account.accountInfo.avatar}"
                             alt="cover" width="696x" height="200px">
                    </div>
                    <div class="mt-5">
                        <input class="form-control" type="file" id="formFileCover" accept=".jpg, .jpeg, .png">
                    </div>
                </div>
                <div class="modal-footer">
                    <form th:action="@{/profile/updateCoverPhoto}" method="post" id="submit-cover">
                        <input type="hidden" name="coverPhoto" id="coverInput">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="save-cover" type="button" class="btn btn-primary">
                            <span id="save-cover-text">Save</span>
                            <span id="save-cover-loader" class="spinner-border spinner-border-sm d-none"
                                  role="status"
                                  aria-hidden="true"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>