body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-fluid {
    flex: 1;
    display: flex;
    overflow: hidden;
}
/*nav{*/
/*   position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*}*/
aside {
    flex: 0 0 15%;
    background-color: #f8f9fa; /* Light gray background */
    height: 100vh;
    width: 300px;
    position: fixed;
}
.aside-left {
    left: 10px;
}
.aside-right {
    right: 10px;
}
main {
    flex: 1;
    background-color: #ffffff; /* White background */
    margin-left: 25%; /* Same width as left aside */
    margin-right: 25%; /* Same width as right aside */
    overflow-y: auto;
    height: 100vh;
}
nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.content {
    padding-top: 70px;
}


.story-container {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}
.story-item {
    flex: 0 0 auto;
    width: 150px;
    height: 200px;
    margin-right: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.story-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.story-item .name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border-radius: 5px;
    width: 90%;
}
.story-item .create-story {
    position: absolute;
    bottom: 35%;
    left: 50%;
    text-decoration: none;
    cursor: pointer;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
}
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.carousel-control-prev {
    left: 0;
}
.carousel-control-next {
    right: 0;
}

.profile-container {
    display: flex;
    align-items: center;
}
.profile-text {
    margin-left: 10px;
    text-align: center;
}