.profile-header {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.profile-header img.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    /*border: 5px solid #333;*/
    position: relative;
}

.profile-header .profile-info {
    margin-left: 20px;
}

.profile-header .profile-info h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.profile-header .profile-info .location {
    font-size: 16px;
    margin-bottom: 10px;
}

.profile-header .profile-info .followers {
    font-size: 14px;
    margin-bottom: 10px;
}

.profile-header .profile-info .following {
    display: flex;
    align-items: center;
}

.profile-header .profile-info .following img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.camera-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

.profile-card {
    width: 100%;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.profile-card .intro {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-card .bio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.profile-card .bio button {
    border: none;
    background: none;
    color: #007bff;
    cursor: pointer;
}

.profile-card .details {
    list-style: none;
    padding: 0;
}

.profile-card .details li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .details li i {
    margin-right: 10px;
}

.profile-card .details li span {
    font-size: 0.9rem;
}

.post-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.post-content {
    margin-top: 10px;
}

.cover-photo {
    width: 100%;
    height: 300px; /* Đặt chiều cao cố định */
    object-fit: cover; /* Giữ tỉ lệ khung hình và cắt ảnh nếu cần */
    border-radius: 8px;
    margin-bottom: 20px;
}

