<!DOCTYPE html>
<html lang="en" th:replace="~{home/index::dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<main>
    <div class="p-2 text-start mb-lg-5 mb-lg-5">
        <div class="d-flex text-start mb-3">
            <div class="d-flex" id="carouselInner">
                <div class="story-item">
                    <img th:src="${#authentication.principal.account.accountInfo.avatar}"
                         alt="Create story">
                    <a th:href="@{#/create-story}" class="create-story">Create story</a>
                </div>
                <div class="story-item">
                    <img src="https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-6/335348988_608949947328578_5872793632796937082_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=FxeS3m7LvlEQ7kNvgG4v0p2&_nc_ht=scontent.fhan20-1.fna&oh=00_AYACvXoiohQ6jH0p75_4j2BJL4xQ13TMT3TaI6G6u7KvtQ&oe=66934FCB"
                         alt="...">
                    <div class="name">Nong Hoang Vu</div>
                </div>
                <div class="story-item">
                    <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-1/430796318_10115540567190571_8582399341104871939_n.jpg?stp=dst-jpg_p200x200&_nc_cat=1&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=I2cw9UNy1E0Q7kNvgELFfM-&_nc_ht=scontent.fhan2-4.fna&oh=00_AYBsuqzvh98o25U1ESEHNqoSd6LC_qCr0SVHjmphGtJzDw&oe=669350F3"
                         alt="...">
                    <div class="name">Mark Zuckerberg</div>
                </div>
                <div class="story-item">
                    <img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-6/449748119_122117455058337374_7904482335281552128_n.jpg?stp=cp6_dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=127cfc&_nc_ohc=dKVwc2MZxL0Q7kNvgFRyfna&_nc_ht=scontent.fhan2-5.fna&oh=00_AYDvlfa2RJmsT2zXWg8QHGshWIF3PjboKK7o9ngLqMPySA&oe=6693314B"
                         alt="Bùi Đình Chiến">
                    <div class="name">Mình Yêu Nhau Đi</div>
                </div>
            </div>
        </div>
        <div class="border rounded mb-3 p-4">
            <div class="row">
                <div class="col-1">
                    <img th:src="${#authentication.principal.account.accountInfo.avatar}"
                         class="rounded-circle" alt="..." width="40px">
                </div>
                <div class="col-11 d-flex justify-content-center align-items-center">
                    <input class="form-control rounded-pill me-3" type="search"
                           th:placeholder="'What\'s on your mind, ' + ${#authentication.principal.account.accountInfo.firstName} + '?'"
                           aria-label="Search">
                    <button class="btn">Post</button>
                </div>
            </div>
<!--            <div class="d-flex justify-content-center align-items-center p-2">-->
<!--                <img class="rounded" src="https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-6/335348988_608949947328578_5872793632796937082_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=FxeS3m7LvlEQ7kNvgG4v0p2&_nc_ht=scontent.fhan20-1.fna&oh=00_AYACvXoiohQ6jH0p75_4j2BJL4xQ13TMT3TaI6G6u7KvtQ&oe=66934FCB"-->
<!--                     alt="..." width="50%">-->
<!--            </div>-->
            <hr class="mt-3 mb-3">
            <div class="row text-center">
                <div class="col">
                    <i class="bi bi-camera-reels"></i> Live video
                </div>
                <div class="col">
                    <input type="file" style="display: none">
                    <i class="bi bi-images"></i> Photo/video
                </div>
                <div class="col">
                    <i class="bi bi-gpu-card"></i> Reel
                </div>
            </div>
        </div>
        <div class="mb-3 border p-3">
            <div class="profile-container mb-2">
                <img src="https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-1/446732501_1658022081613061_7024694374018705809_n.jpg?stp=dst-jpg_p200x200&_nc_cat=102&ccb=1-7&_nc_sid=50d2ac&_nc_ohc=g_uMphr0BXcQ7kNvgHkIoPQ&_nc_ht=scontent.fhan20-1.fna&oh=00_AYDIPjYmR9TM3JN8c7goC3XEVR2gAWrU_Nb9iiOfmuCmVw&oe=6692DF66"
                     class="rounded-circle" alt="..." width="40px">
                <div class="profile-text">
                    <p class="fw-bold mb-0">Nong Hoang Vu <i class="text-primary bi bi-patch-check-fill"></i></p>
                    <p class="text-muted text-start small mb-0">April 13, 2023</p>
                </div>
            </div>
            <p>
                Gửi Em!
                Thật ra Anh không biết vì sao Anh lại thương Em nhiều đến thế. Ngoài Em ra thì tất cả các cô gái khác,
                Anh đều không hứng thú. Không phải Anh luỵ, mà vì ngay lúc đó tâm trí Anh chỉ có hình bóng mình Em. Hiện
                tại Anh rất thương Em và Em là người duy nhất mà Anh muốn đặt hết tất cả tình cảm. Anh chỉ muốn được bên
                Em mãi mãi đến sau này.
                Yêu Em!
            </p>
            <div class="d-flex justify-content-center align-items-center">
                <img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-6/449705773_2238766793135231_2207410089507836897_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_ohc=N92pPMwMzEMQ7kNvgE0q_hF&_nc_ht=scontent.fhan2-5.fna&oh=00_AYCGGrGOkZF1sXICnfyx5NEXSUEW3xiZpF26C-la9itezQ&oe=66930F98"
                     class="rounded d-block" alt="..." width="50%">
            </div>
            <div class="row border-top d-flex p-2 mt-3">
                <div class="col">
                    109K <i class="bi bi-hand-thumbs-up"></i> Like
                </div>
                <div class="col">
                    43.7K <i class="bi bi-chat"></i> Comment
                </div>
                <div class="col">
                    3.6K <i class="bi bi-share"></i> Share
                </div>
            </div>
        </div>
        <div class="mb-3 border p-3">
            <div class="profile-container mb-2">
                <img src="https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-1/446732501_1658022081613061_7024694374018705809_n.jpg?stp=dst-jpg_p200x200&_nc_cat=102&ccb=1-7&_nc_sid=50d2ac&_nc_ohc=g_uMphr0BXcQ7kNvgHkIoPQ&_nc_ht=scontent.fhan20-1.fna&oh=00_AYDIPjYmR9TM3JN8c7goC3XEVR2gAWrU_Nb9iiOfmuCmVw&oe=6692DF66"
                     class="rounded-circle" alt="..." width="40px">
                <div class="profile-text">
                    <p class="fw-bold mb-0">Nong Hoang Vu <i class="text-primary bi bi-patch-check-fill"></i></p>
                    <p class="text-muted text-start small mb-0">July 7 at 4:50PM</p>
                </div>
            </div>
            <p>
                Thân gửi cậu, người sắp bước vào cuộc đời tớ...
                Cậu biết không, tớ đã từng có một tình yêu rất đẹp nhưng trái tim tớ rồi lại tan vỡ. Dù vậy tớ vẫn tin
                tưởng sẽ có một ai đó bước vào cuộc đời tớ, yêu thương chính những khuyết điểm của tớ.
                Chuyện gì cũng không khiến tớ gục ngã. Không phải không khóc mà dù có đau hay mệt mỏi thì ngày hôm sau,
                tớ vẫn sẽ vui vẻ đi học, đi làm.
                Tớ cũng sợ bản thân bị tổn thương nên tớ luôn thận trọng hơn với mọi thứ. Mong cậu sẽ nhẫn nại với tớ vì
                đến khi tớ đặt lòng tin vào cậu thì tớ sẽ tin bất chấp. Tớ có thể tự đi ăn, tự đi chơi, tự mua thuốc khi
                ốm nhưng tớ cũng rất muốn được yêu, được thương cậu à.
                Tớ đang cố gắng hoàn thiện bản thân từng ngày để xứng đáng với mọi thứ trong cuộc sống này. Nếu cậu cũng
                vậy thì hãy đi cùng nhau nha. Tớ mong muốn một mối quan hệ "date to marry". Cậu bước vào cuộc sống tớ
                rồi, vậy chúng ta có thể đi cùng nhau một đoạn đường dài không?
                Tớ sẽ yêu cậu bằng tất cả những gì tớ có.
            </p>
            <div class="d-flex justify-content-center align-items-center">
                <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/448830754_1099010231579177_3332722654944638905_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=833d8c&_nc_ohc=bk6zXzKCXvYQ7kNvgE5-9x_&_nc_ht=scontent.fhan2-4.fna&oh=00_AYAKTPfu0ZsASUj8XQE-PR4sAQvs8diFXld47p9hRWre-Q&oe=66930159"
                     class="rounded d-block" alt="..." width="50%">
            </div>
            <div class="row border-top d-flex p-3 mt-3">
                <div class="col">
                    2.8M <i class="bi bi-hand-thumbs-up"></i> Like
                </div>
                <div class="col">
                    3.2M <i class="bi bi-chat"></i> Comment
                </div>
                <div class="col">
                    43M <i class="bi bi-share"></i> Share
                </div>
            </div>
        </div>
        <div class="mb-3 border p-2 mt-3">
            <div class="profile-container mb-2">
                <img src="https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-1/446732501_1658022081613061_7024694374018705809_n.jpg?stp=dst-jpg_p200x200&_nc_cat=102&ccb=1-7&_nc_sid=50d2ac&_nc_ohc=g_uMphr0BXcQ7kNvgHkIoPQ&_nc_ht=scontent.fhan20-1.fna&oh=00_AYDIPjYmR9TM3JN8c7goC3XEVR2gAWrU_Nb9iiOfmuCmVw&oe=6692DF66"
                     class="rounded-circle" alt="..." width="40px">
                <div class="profile-text">
                    <p class="fw-bold mb-0">Nong Hoang Vu <i class="text-primary bi bi-patch-check-fill"></i></p>
                    <p class="text-muted text-start small mb-0">2 day a go.</p>
                </div>
            </div>
            <p>This is my background window...!</p>
            <div class="d-flex justify-content-center align-items-center">
                <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/450140440_1679737436108192_4009668874840530215_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=okKtPAE1bSwQ7kNvgGKPIh7&_nc_ht=scontent.fhan2-4.fna&oh=00_AYDd4UDLpyVjNgHfVqBGHw5GJXkEZ3fdpaKnyupVv1lAKQ&oe=6692F05A"
                     class="rounded d-block" alt="..." width="50%">
            </div>
            <div class="row border-top d-flex p-2 mt-3">
                <div class="col">
                    102 <i class="bi bi-hand-thumbs-up"></i> Like
                </div>
                <div class="col">
                    58 <i class="bi bi-chat"></i> Comment
                </div>
                <div class="col">
                    8 <i class="bi bi-share"></i> Share
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>